body {
  background-color: black;
}

header, main {
  background-color: black;
  color: whitesmoke;
  width: 100%;
  position: absolute;
  top: 0;
}

header {
  text-align: center;
}

main {
  margin-top: 150px;
}