body {
  background-color: black;
}
.centered {
  text-align: center;
}

/* 
**********
* HEADER *
**********
*/
header, main {
  background-color: black;
  color: whitesmoke;
  width: 100%;
  position: absolute;
  top: 0;
}

header {
  text-align: center;
}

.dropdown-menu {
  float: right;
  margin-right: 50px;
  color: lightgray;
  font-family: "Pirata One", serif;
}

.dropdown-menu:hover .dropdown-content {
  display: block;
}

.dropdown-button {
  background-color: black;
  color: lightgray;
  font-size: 18pt;
  border: none;
  padding-top: 3px;
}

.dropdown-button:hover {
  border: none;
}

.dropdown-content {
  margin: 0 15px 0 0;
  list-style: none;
  text-align: left;
  display: none;
  letter-spacing: 1.5px;
  font-size: 14pt;
  position: absolute;
  z-index: 1;
  background-color: black;
}

.dropdown-content a:link, .dropdown-content a:visited {
  color: lightgray;
}

.dropdown-content a:hover {
  background-color: #2f1f06;
}


/*_______________________________________ 
********
* MAIN *
********
*/
main {
  margin-top: 150px;
}

main h1, .subheading {
  font-family: "Pirata One", serif;
  text-align: center;
  margin: 0;
}

.subheading {
  font-size: smaller;
  margin: 5px;
  letter-spacing: 1.5px;
}

.underline {
  text-decoration: underline;
}

/*_______________________________________
*********************
* API data handling *
*********************
*/
.error, .loading {
  position: absolute;
  text-align: center;
  margin: auto;
  width: 100%;
}

.error {
  font-size: 16pt;
  color: orangered;
}

.loading {
  font-size: 30pt;
}


/*_______________________________________
************
* HOMEPAGE *
************
*/
.greeting {
  font-family: "Caveat", serif;
  font-size: 25pt;
  margin: 0 0 20px 30px;
}

.trailers {
  border: 4px dotted brown;
  margin: 0 0 100px 30px;
  text-align: center;
  padding: 15px 10px 30px 10px;
  width: 800px;
  color: darkgrey;
}

.homepagePreviews {
  font-family: serif;
  font-size: 25pt;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}

.release-dates {
  margin-top: 0;
  font-family: serif;
  font-size: 14pt;
  margin-bottom: 30px;
}

.IMDB-rating {
  margin-top: 50px;
  margin-bottom: 0;
  font-family: serif;
}

.episodes {
  width: 40%;
  float: right;
  margin: 0 10px 20px 0;
  display: block;
  border: solid 1px brown;
  padding: 5px 3px 0 10px;
}

.episodes h1 {
  font-size: 20pt;
  text-decoration: underline;
}

.episode-info {
  display: block;
  margin: 5px 0 7px 0;
}

.episode-info h2 {
  font-family: "Pirata One", serif;
  font-size: 12pt;
  margin: 0;
}

.episode-info td img {
  float: left;
  width: 100px;
  margin: 1px 10px 1px 0;
}

.episode-info td {
  font-size: 10pt;
}

.episode-info td .floatRight {
  float: right;
  font-family: serif;
}


.watch-on {
  text-align: center;
  font-family: "Caveat", serif;
  font-size: 22pt;
  margin-bottom: 15px;
}

.opening-titles {
  text-align: center;
  margin-top: 400px;
}

/*_______________________________________
**************
* STATS PAGE *
**************
*/
.show-stats {
  color: lightgray;
}

.summary p {
  margin: 0 40px 40px 40px;
  font-family: "Pirata One", serif;
  font-size: 16pt;
  word-spacing: 5px;
  text-align: center;
}

.show-stats img {
  border: solid #805311 1px;
  box-shadow: 2px 2px 40px 0.5px #996415b4;
  float: left;
  margin: 0 25px 0 30px;
}

.show-stats td {
  padding: 3px 15px;
}

.additional-links {
  margin: 100px 0 0 30px;
}

.additional-links p, .additional-links h4{
  margin: 0;
}

.additional-links h4 {
  text-decoration: underline;
  color:  #996515 ;
}

.additional-links p {
  margin-bottom: 30px;
}

/* _______________________________________
******************************
* CAST PAGE & CHARACTER PAGE *
******************************
 */
.cast-list, .character-list {
  color: #996515;
  margin: 30px;
  text-align: center;
  display: inline-block;
}

.cast-list p, .cast-list h2 {
  margin: 0;
}

.cast-list h2, .character-list h2 {
  font-weight: bold;
  background: linear-gradient(to top, red, yellow);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.cast-list .info {
  color: #e9ad53;
}

.character-list img {
  border: solid rgb(255, 77, 0) 1px;
}


/* _______________________________________
***********
* PODCAST *
***********
 */

 .podcastPage {
  text-align: center;
  margin: 30px auto;
  font-size: 20pt;
  color: silver;
  font-family: "Caveat", serif;
 }


 /* _______________________________________
**************
* LEARN MORE *
**************
 */

.Bahamas-facts {
  text-align: center;
  font-family: serif;
}

.Bahamas-facts h2 {
  color: #5cc1df;
  font-size: 30pt;
}

.flag {
  max-height: 300px;
  margin-right: 50px;
}

.Bahamas-facts table {
  margin: 10px auto 15px auto;
  font-size: 14pt;
}

.table-align-left {
  text-align: left;
}

.table-align-left td {
  padding: 0 30px 0 50px;
}

.teal {
  color: #5cc1df;
}

.yellow {
  color: gold;
}