body {
  background-color: black;
}
.centered {
  text-align: center;
}

/* 
**********
* HEADER *
**********
*/
header, main {
  background-color: black;
  color: whitesmoke;
  width: 100%;
  position: absolute;
  top: 0;
}

header {
  text-align: center;
}

.dropdown-menu {
  float: right;
  margin-right: 50px;
  color: lightgray;
  font-family: "Pirata One", serif;
}

.dropdown-menu:hover .dropdown-content {
  display: block;
}

.dropdown-button {
  background-color: black;
  color: lightgray;
  font-size: 18pt;
  border: none;
  padding-top: 3px;
}

.dropdown-button:hover {
  border: none;
}

.dropdown-content {
  margin: 0 15px 0 0;
  list-style: none;
  text-align: left;
  display: none;
  letter-spacing: 1.5px;
  font-size: 14pt;
  position: absolute;
  z-index: 1;
  background-color: black;
}

.dropdown-content a:link, .dropdown-content a:visited {
  color: lightgray;
}

.dropdown-content a:hover {
  background-color: #2f1f06;
}


/*_________________________________________________________________________
********
* MAIN *
********
*/
main {
  margin-top: 150px;
}

main h1, .subheading {
  font-family: "Pirata One", serif;
  text-align: center;
  margin: 0;
}

.subheading {
  font-size: smaller;
  margin: 5px;
  letter-spacing: 1.5px;
}

.underline {
  text-decoration: underline;
}


/*_________________________________________________________________________
*********************
* API data handling *
*********************
*/
.error, .loading {
  position: absolute;
  text-align: center;
  margin: auto;
  width: 100%;
}

.error {
  font-size: 16pt;
  color: orangered;
}

.loading {
  font-size: 30pt;
  background-color: black;
}

.LOC-download {
  font-size: 12pt;
}

.LOC-loading {
  font-size: 14pt;
}

/*_________________________________________________________________________
************
* HOMEPAGE *
************
*/
.greeting {
  font-family: "Caveat", serif;
  margin: -10px 50px 100px 50px;
  text-align: center;
  line-height: 1;
}

.greeting h2 {
  margin: 0;
  font-size: 32pt;
  word-spacing: 3px;
  margin-bottom: 15px;
  background: radial-gradient(circle, rgb(80, 52, 3), brown, rgb(103, 69, 11), brown, rgb(80, 52, 3) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.greeting p {
  font-weight: 200;
  margin: 0;
  font-size: 20pt;
  background: radial-gradient(circle, rgb(80, 52, 3), burlywood, rgb(103, 69, 11), burlywood, rgb(80, 52, 3) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.center-in-space {
  width: 60%;
  text-align: center;
}

.trailers {
  border: 4px dotted brown;
  margin: 0 0 90px 30px;
  text-align: center;
  padding: 15px 10px 20px 10px;
  width: 800px;
  color: darkgrey;
}

.homepagePreviews {
  font-family: "Pirata One", serif;
  font-size: 40pt;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
  background: radial-gradient(circle, darkgray, rgb(60, 60, 60), darkgray, rgb(61, 63, 63), darkgray, rgb(59, 59, 59), darkgray 10%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.release-dates {
  margin-top: 0;
  font-family: "Pirata One", serif;
  font-size: 18pt;
  line-height: 1.2;
  margin-bottom: 30px;
}

.episodes {
  width: 40%;
  float: right;
  margin: 0 10px 20px 0;
  display: block;
  border: solid 1px brown;
  padding: 5px 3px 0 10px;
}

.episodes h1 {
  font-size: 20pt;
  text-decoration: underline;
  color: darkgray;
}

.episode-info {
  display: block;
  margin: 2px 0 8px 0;
}

.episode-info h2 {
  font-family: "Pirata One", serif;
  font-size: 12pt;
  margin: 0;
  padding: 0;
}

.episode-info td img {
  float: left;
  height: 100%;
  width: 100px;
  margin: 0 10px 0 0;
}

.episode-info td {
  font-size: 9pt;
}

.episode-info td .floatRight {
  float: right;
  font-family: "Special Elite";
  word-spacing: 1.5px;
}

.watch-on {
  text-align: center;
  font-family: "Caveat", serif;
  font-size: 22pt;
  margin-bottom: 30px;
  margin-top: 150px;
}

.opening-titles {
  text-align: center;
  margin-top: 150px;
  font-family: "Pirata One", serif;
  color: brown;
}

.opening-titles h2 {
  font-size: 40pt;
  text-decoration: underline;
  margin: 0 0 10px 0;
  background: linear-gradient( to top, rgb(236, 104, 104), brown, black, brown, rgb(46, 30, 30), rgb(236, 104, 104), rgb(93, 24, 24), rgb(236, 104, 104), rgb(46, 30, 30), brown, black, brown, black, rgb(236, 104, 104), brown 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.opening-titles h3 {
  margin: 0 0 20px 0;
  font-size: 16pt;
  margin-bottom: -1px;
  color: rgb(138, 38, 38);
}


/*_________________________________________________________________________
**************
* STATS PAGE *
**************
*/
.show-stats {
  color: lightgray;
}

.summary p {
  margin: 0 40px 70px 40px;
  font-family: "Pirata One", serif;
  font-size: 16pt;
  word-spacing: 5px;
  text-align: center;
}

.show-stats img {
  border: solid #805311 1px;
  box-shadow: 2px 2px 40px 0.5px #996415b4;
  float: left;
  margin: 0 25px 0 30px;
}

.show-stats td {
  padding: 3px 15px;
}

.tiny {
  font-size: 9pt;
  font-family: serif;
}

.ratings {
  margin: 0 70px 30px 0;
  border: solid 1px #805311;
  box-shadow: 2px 2px 40px 0.5px #996415b4;
  width: 400px;
  padding: 10px 10px 10px 10px;
  float: right;
}

.ratings h2 {
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  font-family: "Pirata One", serif;
  word-spacing: 3px;
  letter-spacing: 1.5px;
  font-size: 22pt;
  margin: 0 0 1px 0;
  background: linear-gradient(to bottom right, rgb(80, 52, 3), rgb(146, 139, 133), rgb(123, 83, 13), rgb(186, 172, 158), rgb(103, 69, 11), rgb(80, 52, 3));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.ratings table {
  margin: 0 0 10px 5px;
}

.ratings table thead {
  text-decoration: underline;
  text-align: left;
  margin-bottom: 0;
  color: brown;
  font-weight: bold;
  font-size: 16pt;
  font-family: "Pirata One", serif;
  word-spacing: 3px;
  letter-spacing: 1.5px;
}

.ratings td {
  margin: 0;
  padding: 0 20px 0 0;
  font-size: 13pt;
  font-family: "Pirata One", serif;
  word-spacing: 3px;
  letter-spacing: 1.5px;
  color: burlywood;
}

.rating {
  font-size: 14pt;
  color: whitesmoke;
}

.additional-links {
  margin: 100px 0 0 30px;
}

.additional-links p, .additional-links h4{
  margin: 0;
}

.additional-links h4 {
  text-decoration: underline;
  color:  #996515 ;
}

.additional-links p {
  margin-bottom: 30px;
}


/*_________________________________________________________________________
******************************
* CAST PAGE & CHARACTER LIST *
******************************
 */
.cast-list, .character-list {
  color: #996515;
  margin: 40px 30px;
  text-align: center;
  display: inline-block;
}

.cast-list {
  width: 260px;
  margin: 40px 15px;
}

.cast-list p {
  margin: 0;
  font-family: "Special Elite";
}

.cast-list h2, .character-list h2 {
  font-weight: bold;
  font-size: 18pt;
  background: linear-gradient(to top, red, yellow);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin: 0;
}

.character-index {
  margin: -65px 0 10px 0;
}

.cast-list .info {
  color: #e9ad53;
  font-family: "Special Elite";
}

.character-list :hover {
  cursor: pointer;
}

.hover-border :hover {
  box-shadow: 2px 2px 20px 0.5px rgba(255, 166, 0, 0.557);
  transform: scale(1.02);
}

.character-list img {
  border: solid rgb(255, 77, 0) 1px;
  height: 350px;
  width: 220px;
  object-fit: cover;
  margin-top: 2px;
}


/*_________________________________________________________________________
************************
* CHARACTER INFO PAGES *
************************
 */
.character-info {
  color: tan;
  width: 80%;
  margin: 0 auto 50px auto;
}

.character-info h1 {
  text-align: center;
  background: linear-gradient(to top, red, yellow);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin: 20px 0 0 0;
}

.character-info img {
  height: 100%;
  float: left;
  margin-right: 20px;
}

.character-info p {
  font-size: 20pt;
  font-family: "Pirata One", serif;
  word-spacing: 3px;
  letter-spacing: 1.5px;
  line-height: 1.2;
  margin: 5px 0 20px 0;
}

.with-photo {
  height: 430px;
  display: inline-block;
  margin: 0;
}

.underneath-photo {
  margin: 10px 0 20px 0;
  display: inline-block;
  font-family: "Special Elite";
}

.underneath-photo p{
  padding: 5px 0 15px 0;
}

.character-info h4 {
  font-size: 20pt;
  word-spacing: 4;
  margin-bottom: 0;
  background: linear-gradient(to top, violet, gray, lightgray);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  border-bottom: 2px solid rgba(250, 238, 253, 0.555);
}

.character-info .indent{
  text-indent: 50px;
  font-family: "Special Elite";
  font-size: 16pt;
  letter-spacing: 1;
  word-spacing: 4;
  margin: 0;
  color: rgba(250, 238, 253, 0.555);
}

.character-info a {
  color: brown;
  font-size: 14pt;
}

/*_________________________________________________________________________
***********
* PODCAST *
***********
 */

 .podcastPage {
  text-align: center;
  margin: 30px auto;
  font-size: 20pt;
  color: silver;
  font-family: "Caveat", serif;
 }


/*_________________________________________________________________________
**************
* LEARN MORE *
**************
 */

.story-quote {
  font-family: "Caveat", serif;
  margin: -20px auto 60px auto;
  color: lightgray;
  width: 80%;
}

.story-quote h1 {
  font-family: "Caveat", serif;
  font-weight: 100;
  font-size: 24pt;
  text-align: center;
}

.story-quote p {
  font-family: "Caveat", serif;
  text-align: right;
  margin: -3px 60px 0 0;
}

.learning-dropdown {
  width: 50%;
  margin: 0 auto;
  font-family: "Pirata One", serif;
  font-size: 25pt;
  line-height: 1;
}

.learning-dropdown select {
  padding-right: 7px;
}

.learning-dropdown button {
  padding: 2px 10px;
  margin-left: 15px;
  background-color: #e9ad53;
  color:#49310a;
  font-size: 14pt;
}

.selection {
  text-align: center;
  margin: 60px auto 100px auto;
  position: relative;
}

.nothing-selected {
  border: none;
  box-shadow: none;
  margin-top: -20px;
}

.warning {
  color: tan;
  text-align: center;
  width: 50%;
  margin: -50px auto 60px auto;
  font-family: serif;
  font-size: 11pt;
}

.box-shadow {
  border-top: dotted 1pt rgb(40, 39, 37);
  box-shadow: 0 0 20px 0.5px #e3dbd3b4;
  margin-top: 30px;
  padding-bottom: 60px;
}

.Bahamas-facts {
  text-align: center;
  font-family: serif;
}

.Bahamas-facts h2 {
  color: #5cc1df;
  font-family: "Pirata One", serif;
  font-size: 40pt;
  margin: 10px 0 0 0;
}

.flag {
  max-height: 300px;
  margin-right: 50px;
}

.Bahamas-facts table {
  margin: 10px auto 15px auto;
  font-size: 14pt;
}

.table-align-left {
  text-align: left;
}

.table-align-left td {
  padding: 0 30px 0 50px;
}

.teal {
  color: #5cc1df;
}

.yellow {
  color: gold;
}

.library-of-congress-scans {
  padding: 40px 0;
  font-family: "Pirata One", serif;
  color: rgb(169, 169, 169);
}

.library-of-congress-scans h3 {
  text-decoration: underline;
  font-size: 18pt;
  margin: 60px 0 0 0;
}

.library-of-congress-scans h4 {
  margin: 0 0 10px 0;
  font-family: "Caveat", serif;
  font-size: 15pt;
}

.pages {
  display: flex;
  flex-wrap: wrap; /* Allows images to wrap to the next line if necessary */
  justify-content: center; /* Aligns items to the left (you can also use 'center' or 'space-between' as needed) */
  gap: 10px; /* Adds space between images */
  margin: 0 auto;
}

.pages img {
  cursor: pointer;
}

.small-page {
  height: 300px;
}

.large-page {
  width: 600px;
}

.NewProvidenceMap {
  width: 90%;
}

/*_________________________________________________________________________
*************
* 404 ERROR *
*************
*/

.page-not-found {
  text-align: center;
  background-color: white;
  color: black;
  font-family: "Pirata One", serif;
  width: 100%;
  padding-top: 1px;
  margin: 0 auto 20px auto;
}

.page-not-found h1 {
  font-size: 122pt;
  margin: 0;
}

.page-not-found h2 {
  font-size: 50pt;
  margin: 0;
}


/*_________________________________________________________________________
**********
* FOOTER *
**********
*/
footer {
  color: gray;
  margin-top: 3000px;
  bottom: 0;
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
}